[submodule "services/users-hub"]
	path = services/users-hub
	url = https://github.com/Pechinyock/users-hub.git
[submodule "services/_shared/dotnet/TaskTrainContracts"]
	path = services/_shared/dotnet/TaskTrainContracts
	url = https://github.com/Pechinyock/TaskTrainContracts.git
[submodule "services/_shared/dotnet/TaskTrainLibrary"]
	path = services/_shared/dotnet/TaskTrainLibrary
	url = https://github.com/Pechinyock/TaskTrainLibrary.git
